* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1280px;
  margin: auto;
}
.btn {
  background-color: #dd0000;
  padding: 15px 25px;
  border-radius: 10px;
  font-weight: 600;
  color: white;
  border: none;
}
.btn-white{
  background-color: white;
  color:#dd0000;
}
/* Custom Style  */
.banner {
  display: flex;
  align-items: center;
  margin: 50px auto;
  background-color: black;
  color: white;
  border-radius: 15px;
}
.banner-text {
  padding: 45px;
}
.banner h2 {
  font-size: 70px;
  font-weight: 600;
  line-height: 70px;
}
.banner p {
  color: #ffffff;
  margin: 15px 0;
  max-width: 65%;
  font-weight: 300;
}
.banner-image img {
  display: block;
  height: 500px;
  box-sizing: content-box;
  padding-top: 20px;
}

/* Upcoming Matches  */
.upcoming-matches{
  display: flex;
  gap: 20px;
}
.upcoming-matches-left{
  background-color: black;
  padding: 20px;
  width: 25%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(1, 1fr);
  border-radius: 15px;
}
.upcoming-matches-right{
  background-color: yellow;
  flex: 1;
}